<!-- body of the email -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Article <%= @article.id %></h2>
    <strong>Title</strong>
    <%= @article.title %>
    <strong>Description</strong>
    <%= @article.description %>
    <p>
      This is a test email to showcase demo of Active Job in Rails.
      THE EMAIL IS AUTOMAYICALLY GENERATED
    </p>
  </body>
</html>
